<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta name="baidu-site-verification" content="4j1Ctek6Sd"/>
    <meta charset="UTF-8" http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="{% static 'fonts/label.ico' %}" type="image/x-icon">
    <title>HOME</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/button.css' %}">
    <script src="{% static 'js/jquery-1.10.2.js' %}"></script>
</head>
<body style="overflow: hidden">
<video id="video" width="640" height="480" autoplay></video>
<img id="show-image" width="640" height="480">
<canvas id="canvas" width="640" height="480" style="visibility: hidden"></canvas>
<script>
    const video = document.getElementById('video');

    //访问摄像头
    if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
        // 添加音频{ audio: true }
        navigator.mediaDevices.getUserMedia({video: true}).then(function (stream) {
            video.srcObject = stream;
            video.play();
        });
    }

    //处理一帧图像
    function handleOneFrame() {
        // 一帧图片
        let canvas = document.getElementById('canvas');
        let context = canvas.getContext('2d');
        context.drawImage(video, 0, 0, 640, 480);
        let imageData = canvas.toDataURL("png");//直接将canvas中的内容转为base64格式，
        let request = $.ajax({
            url: 'http://127.0.0.1:8000/system/handle/',//最后要加上'/'
            type: 'POST',
            data: {'image': imageData},
            async: true,
            timeout: 7000,
            error: function () {
                window.alert("出错了")
            },
            complete: function (XMLHttpRequest, status) {
                if (status === 'timeout') {
                    request.abort();
                    window.alert('连接超时')
                }
            },
            success: function () {
                let data = request.responseText;
                $('#show-image').attr('src', "data:image/png;base64," + data);
                {#$('#show-image').html('<img src="data:image/png;base64,' + data + '">')//直接用img展示#}
            }
        });
    }

    function handleFrames() {
        window.setInterval("handleOneFrame()", 50)//每隔50ms执行一次函数
    }

    window.onload = handleFrames


</script>
</body>
</html>